.container {
    color: #39275B;
    height: 100%;
    width: 90%;
    margin: 10px auto;
    display: flex;
    padding: 30px 0;
    flex-direction: column;

    img {
        object-fit: contain;
    }
}

.aboutImg {
    max-width: 90%;
}

.text {
    margin: 15px 0;
}

.section {
    display: flex;
    flex-direction: column;
}

.greeting {
    text-align: center;
}

.starSign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: "20px 0 20px 0";
    margin: 15px auto;
}

.divider {
    display: block;
    margin: 20px auto !important;
    width: 250px;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media only screen and (min-width: 1000px) {
    .section {
        flex-direction: row;
    }

    .aboutImg {
        max-width: 500px;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}