.container {
    background: #ffff;
    color: #39275B;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0 0 10px 0;
    flex-direction: column;


    h2 {
        font-size: 30px;
        font-style: italic;
        padding: 5px 0 !important;
    }

    .intro {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        text-align: center;

        .bookcover {
            width: 35%;
            height: auto;
            align-self: start;
            object-fit: contain;
        }

        .title {
            font-size: 22px;
            font-weight: 600;
        }

        .subtitle {
            font-size: 18px;
            color: rgb(231, 14, 134);
            font-weight: 400;
            font-style: italic;
        }

    }

    .statusContainer {
        display: flex;
        flex-direction: row;
        margin: 20px 0;

        svg {
            circle {
                fill: none;
            }

        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 5px;
        }

        div:first-child {
            margin-right: 10px;
        }
    }

    .textContainer {
        margin: auto;
        width: 90%;
    }

    .text {
        margin: 15px 0;
    }

    main {
        display: flex;
        flex-direction: row;
        padding: 0 !important;
        margin: auto;

        .map {
            width: 40%;
        }

        img {
            display: block;
            width: 280px;
            margin: 0 auto;
        }
    }

    .divider {
        display: block;
        margin: 40px auto !important;
        width: 250px;
    }


    circle,
    path {
        fill: #755da3;
    }

    .bookTitle {
        font-style: italic;
        font-weight: 700;
        color: rgb(231, 14, 134);
    }

    .quotes {
        font-size: 26px;
        margin-top: 30px;
        font-style: italic;
        text-align: center;
        color: rgb(231, 14, 134);
        padding: 10px;
    }
}


@media (min-width: 1000px) {

    .intro {
        justify-content: left;
        text-align: left !important;
        flex-direction: row !important;

        .bookcover {
            margin-right: 20px;
            width: 25% !important;

        }
    }



}