.notificationContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: #434343;
    background-color: rgb(250, 228, 128);
}

.link {
    margin: auto 5px;
    text-decoration: underline !important;
}

@media only screen and (max-width: 1000px) {
    .notificationContainer {
        flex-direction: column;
    }
}