@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-size: 20px;
  text-align: justify;
}

main {
  flex: 1;
  padding-top: 50px;
}

.unreleased {
  display: none;
}

a {
  text-decoration: none !important;
}

h3 {
  text-align: center;
  font-size: 36px;
  margin: 0;
  font-style: italic;
}

div[class~="MuiDrawer-paper"] {
  width: 50vw !important;
}

div[class="swiper-button-prev"],
div[class="swiper-button-next"] {
    color: #39275B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media only screen and (min-width: 1000px) {
  main {
    padding-top: 150px;
  }

}